.userList-contact{
  display: flex;
  flex-direction: column;
  cursor: pointer;

}


.userList-contactUSer{
  /* border: 5px solid red; */
  display: flex;
  align-items: center;
  block-size: var(--actionsSize);
}

.userList-contactUSer:hover{
  background-color: var(--grey-4);
}

.userList-contactUSer:active{
  transform: scale(.98);
}

.contact-image{
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 1rem;
  margin-inline-end: .5rem;
  block-size: 3rem;
  inline-size: 3rem;
  border-radius: 50%;
}

.contact-details{
  flex: 1;
}

.contact-details p{
  /* border: 5px solid yellow; */
    margin-block-start: 0;
    margin-block-end: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-details .details-name{
  height: 0;
  font-family: var(--body-16regular);

}

.contact-details .details-day{
  font-family: var( --caption-12regular);
  color: var(--grey);
  margin-inline-end: 1rem;
  font-size: 12px;

}


.contact-message{
  /* border: 5px solid purple; */
  display: flex;
  font-family: var( --caption-12regular);
  color: var(--grey);
  font-size: 12px;
}

.contact-message::before{
  content: url(../images/doble-check.png);
  margin-inline-end: .25rem;
}