.header{
  block-size: var(--headerSize);
  padding: 1rem;
  background-color: var(--grey-4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.header-primary .header-secondary{
  display: flex;
  gap: 1rem;
  /* align-items: center; */

}

.header-secondary button{
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.header-secondary button:active{
  transform: scale(.95);
}