.layout{
  --firstColumn: 27rem;
  --footer: 5rem;
  /* border: 10px solid red; */
  display: grid;
  grid-template-areas: "user-list chat" "user-list actions";
  grid-template-columns: var(--firstColumn)  1fr;
  grid-template-rows: 1fr var(--footer);
  block-size: 100vh;
  box-sizing: border-box;

}


