.userList-search{
  /* border: 2px solid green; */
  max-block-size: var(--actionsSize);
  background-color: var(--grey-3);
  display: flex;
  align-items: center;
  position: sticky;
  top: 5rem;
  left: 0;
  z-index: 1;

}

.userList-search .search{
  block-size: var(--headerSize);
  background-color: var(--white);
  /* border: 2px solid blue; */
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  flex: 1;

}

.userList-search .search input{
 margin-block-start: .87rem;
  margin-block-end: .87rem;
  margin-inline-end: 1.5rem;
  border: none;
  padding: 0;
  flex: 1;
   outline: none;

}

.userList-search .search span {
  font-size: 1.5rem;
   margin-block-start: .75rem;
  margin-block-end: .75rem;
  margin-inline-start: 1rem;
  margin-inline-end: 1rem;
  padding: 0;
  border: 0;
  background-color: var(--white);
}